* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

.grey {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

/* header */

header {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 3%;
  padding-right: 3%;
  -webkit-box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2.98px 7.46px 0px rgba(0, 0, 0, 0.1);
}

header img {
  max-width: 100px;
  max-height: auto;
}

/* hero */

.hero {
  padding: 29px 5%;
}

.hero .hero--img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero--content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero .hero--content h1 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 3em;
}

.hero .hero--content p {
  font-size: 1.3em;
  line-height: 23px;
  width: 425px;
}

/* card container */

.card--container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-right: 5%;
  padding-bottom: 29px;
  padding-left: 5%;
}

/* card */

.card {
  width: 250px;
  font-size: 0.9em;
  margin-right: 19px;
}

.card:nth-child(3) {
  margin-right: 0;
}

.card .card--img {
  width: 100%;
  height: auto;
}

.card .card--review {
  margin-top: 3px;
}

.card .card--star {
  height: 1em;
}

.card .card--description {
  margin-top: 5px;
  margin-bottom: 5px;
}